.navbar-box {
  width: 99%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  /* z-index: 999; */
}

.navbar-centre {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navbar-image {
  width: 7%;
  display: flex;
  align-items: center; 
}

.navbar-image img {
  width: 70px;
  height: auto;
}

.navbar-box ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}

.navbar-box ul li {
  display: inline-block;
  margin-left: 30px;
}

.navbar-box ul li a {
  text-decoration: none;
  color: #6b6a6a;
  font-size: 23px;
}

.navbar-box ul li a:hover {
  background-color: rgb(52, 162, 52);
  padding: 5px;
  border-radius: 0.3em;
  color: #000;
}

.navbar-links {
  display: flex;
  align-items: center; 
  justify-content: center;

}
.container-home{
  margin-top: 80px;
 

}
.container-home img{
  width: 80%;
  height: auto;
  aspect-ratio: 3/2;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-content {
  display: flex;
  align-items: center;
}

.slider-content img {
  width: 70%;
  height: auto;
  aspect-ratio: 3/2;
  border-radius: 1.1em;
}

.slider-content p {
  margin-left: 20px;
  font-size: 45px;
}
.buttons button{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  background-color: rgb(52, 162, 52);
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 0.5em;
}
.buttons button:hover{
  background-color: green;

}