.navbar-box {
  width: 99%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.navbar-centre {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navbar-image {
  width: 7%;
  display: flex;
  align-items: center; 
}

.navbar-image img {
  width: 70px;
  height: auto;
}

.navbar-box ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}

.navbar-box ul li {
  display: inline-block;
  margin-left: 30px;
}

.navbar-box ul li a {
  text-decoration: none;
  color: #6b6a6a;
  font-size: 23px;
}

.navbar-box ul li a:hover {
  background-color: rgb(52, 162, 52);
  padding: 5px;
  border-radius: 0.3em;
  color: #000;
}

.navbar-links {
  display: flex;
  align-items: center; 
  justify-content: center;

}
